@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'VesterbroPoster';
  src: url('/fonts/VesterboPoster.woff2') format('woff2'),
       url('/fonts/VesterboPoster.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background-start-rgb: 242, 199, 68;
  --background-end-rgb: 242, 199, 68;
  --foreground-rgb: 0, 0, 0;
}

body {
  font-family: 'Inter', sans-serif; 
  font-weight: 400;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgba(var(--background-start-rgb), 1),
    rgba(var(--background-end-rgb), 1)
  );
}

.title {
  font-family: 'VesterbroPoster', sans-serif;
  font-weight: 300; 
}

body[data-section="1"],
body[data-section="2"] {
  color: white;
}

body[data-section="0"],
body[data-section="3"],
body[data-section="4"] {
  color: black;
}

body[data-section] {
  margin-left: 0;
  margin-right: 0;
}

body::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); 
}

html, body {
  min-height: 100vh;
  background-attachment: fixed;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
